.product-carousel-image{
    max-width: 100%;
    object-fit: contain;
    height: 400px  !important;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: none !important;
}